# testing
/coverage

# production
build
.serverless

# build

**/.next/

# misc
.DS_Store
/.idea
.vscode

*.log

**/*.local
# For local pages and scripts
**/*.local.tsx
**/*.local.ts
**/*.local.js
**/*.local.json

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored but nested for e2e directories
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
