# testing
/coverage

# production
build

# build

**/.next/
.serverless
.serverless_nextjs
packages/client-web/out

# misc
.DS_Store
/.idea
.vscode
node_modules

*.log

**/*.local
# For local pages and scripts
**/*.local.tsx
**/*.local.ts
**/*.local.js
**/*.local.json

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored but nested for e2e directories
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
